# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.pytest_cache/
.ruff_cache/

# Dados sensíveis (nunca commitar dataset com PII)
*.parquet
data/
dataset/

# Node
node_modules/
dist/

# OS / editor
.DS_Store
.idea/
.vscode/
